@charset "utf-8";
html,
body {
	width: 100%;
	/*height: 100%;*/
	margin: 0px;
	padding: 0px;
	background:url(../img/background.jpg) repeat;
}


/**************************header****************************/

body>header {
	width: 100%;
	height: 8%;
	background: #CCC;
}

body>header div {
	height: 100%;
}

.logo {
	margin-left: 5%;
	float: left;
	width: 4rem;
}

.logo img {
	height: 100%;
	width: 100%;
}

.title {
	text-decoration: none;
	font-size: 2rem;
	line-height: 4rem;
	display: inline-block;
	height: 100%;
	font-family: "blackadder itc";
	font-weight: bolder;
}

.title>a {
	text-decoration: none;
	color: black;
}


/**************************ssection****************************/

body>section {
	width: 80%;
	margin: 0 auto;
}

.box_model {
	width: 100%;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	background: white;
	border-radius: 0.5rem;
}

.baseMessage {
	margin-top: 1rem;
}

.box_model>header {
	font-size: 1.5rem;
	font-family: "楷体";
	height: 3rem;
	line-height: 3rem;
	border-bottom: 0.1rem solid #CCC;
	text-indent: 1rem;
}

.box_model>section>ul {
	width: 80%;
	margin: 1rem auto;
	padding: 0rem;
}

.box_model>section>ul>li {
	list-style: none;
	width: 100%;
	margin-top: 1rem;
}

.box_model>section>ul>li>label {
	width: 15%;
	display: inline-block;
	text-align: right;
	font-size: 1.3rem;
	font-family: "宋体";
	vertical-align: top;
	padding-top: 0.3rem;
}

.box_model>section>ul>li>input {
	border: 0.1rem solid #CCC;
	font-size: 1rem;
	height: 1.5rem;
	width: 25%;
}

.box_model>section>ul>li>span {
	font-size: 0.8rem;
	color: blue;
}

.sex input[type='radio'] {
	width: 2rem;
	height: 1.3rem;
	cursor: pointer;
}

.profession input {
	width: 60%;
}

.newsType {
	display: inline-block;
	min-height: 10rem;
	width: 75%;
	border: 0.1rem solid #CCC;
	border-radius: 0.5rem;
}

.newsType>div {
	width: 8rem;
	height: 4rem;
	display: inline-block;
	margin: 0.5rem;
	border-radius: 0.5rem;
	border: 0.1rem solid #CCC;
	background: #CCC;
	cursor: pointer;
}

.newsType>div>div:first-child {
	width: 8rem;
	height: 2rem;
	text-align: center;
	line-height: 4rem;
}

.newsType>div>div:nth-child(2) {
	width: 8rem;
	height: 1.5rem;
	text-align: right;
}

.newsType>div>div:nth-child(2)>img {
	text-align: right;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
}


/*****************Pfooter**********************/

body>footer {
	height: 10rem;
	width: 80% !important;
	margin: 1rem auto;
	background: white;
	border-radius: 0.5rem;
}

.register input[type='checkbox'] {
	width: 1rem;
	height: 1rem;
	cursor: pointer;
}

.register button {
	width: 10rem;
	height: 3rem;
	font-size: 1.3rem;
	cursor: pointer;
	background: dodgerblue;
	border: none;
	color: white;
}

.register>section>div {
	margin-left: 20%;
	margin-top: 1rem;
}

.register a {
	font-size: 1rem;
}


/*****************Prompt 提示**********************/

.hide {
	visibility: hidden;
}

.error {
	color: red;
}

.error:before {
	content: "error: ";
	color: red;
}

.showdown {
	box-shadow: -0rem 0.5rem 1rem 0.1rem #CCC;
}